/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Quicksand', sans-serif ;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #E6E6FA;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

/* Main content styles */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section h2 {
    color: #fff;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #E6E6FA;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 100px;
}

.bg-lavender {
    background-color: #E6E6FA; /* Lavender color */
}

.profile-picture-container {
    position: relative;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Hide file input */
  input[type="file"] {
    display: none;
  }

  .custom-link {
    color: black; 
    /*text-decoration: underline; */

    
  }
  
